@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar {
    display: none;
}

.input_field {
    width: 300px;
    height: 40px;
    background: rgb(255, 255, 255);
    color: black;
    padding: 4px 12px;
    border: 1px solid #E1E2E9;
    border-radius: 4px;
}

label {
  color: black;
}

.container {
  margin: 0;
  padding: 80px 80px 80px 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: stretch;
  justify-content: stretch;
  min-width: 320px;
  min-height: 100vh;
}

.btn {
  background-color: white;
  border-radius: 4px;
  flex: 1 0 25%;
  border-radius: 8px;
  border: 1px solid darkgray;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  transform: translate(-2px, -2px);
  transition: all 200ms ease-in-out;
}

.btn-submit {
  background-color: aqua;
}

.btn-reset {
  background-color: coral;
}

.form-container {
  margin: 0;
  padding: 80px 80px 80px 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.btn-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
